<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
    <title>Game</title>
</head>

<body>

    <!-- PAGE CONTENT -->
    <th:block layout:fragment="content">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <div class="container-fluid game-container">
                    <div class="row">
                        <div class="col-xs-4">
                            <a href="/game-move?move=0" class="btn btn-default square">&nbsp;</a>
                        </div>
                        <div class="col-xs-4">
                            <a href="/game-move?move=1" class="btn btn-default square"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-4">
                            <a href="/game-move?move=2" class="btn btn-default square"><i class="fa fa-times" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <a href="/game-move?move=3" class="btn btn-default square">&nbsp;</a>
                        </div>
                        <div class="col-xs-4">
                            <a href="/game-move?move=4" class="btn btn-default square">&nbsp;</a>
                        </div>
                        <div class="col-xs-4">
                            <a href="/game-move?move=5" class="btn btn-default square">&nbsp;</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <a href="/game-move?move=6" class="btn btn-default square">&nbsp;</a>
                        </div>
                        <div class="col-xs-4">
                            <a href="/game-move?move=7" class="btn btn-default square">&nbsp;</a>
                        </div>
                        <div class="col-xs-4">
                            <a href="/game-move?move=8" class="btn btn-default square">&nbsp;</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="text-right">
                    <p class="lead funfact" th:utext="${funfact}"></p>
                </div>
            </div>
        </div>

    </th:block>

</body>

</html>
