<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">

<head>
    <title>Welcome</title>
</head>

<body>

    <!-- PAGE CONTENT -->
    <th:block layout:fragment="content">

        <div class="row">
            <div class="col-xs-9">
                <h2>Welcome <span th:text="${game.playerOne.userName}">Guest</span>!</h2>
                <a href="/game" class="btn btn-default">Start a new game!</a>
            </div>
        </div>

    </th:block>

</body>
</html>